.title-blue{
    text-align: center;
    color: $blue;
    font-size: 10px;
    text-transform: uppercase;
    margin: 15px 0;
    h2{
        position: relative;
        display: inline-block;
        &::after{
            position: absolute;
            right: 0;
            content: '';
            width: 25px;
            height: 4px;
            background-color: $blue;
            display: block;
            // border-radius: 200px;
        }
    }
}

@media screen and (min-width: 320px){
    .title-blue{
        font-size: 12px;
    }
}

@media screen and (min-width: 768px){
    .title-blue{
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px){
    
}