.premiere{
    position: relative;
    text-align: center;
    &__text{
        color: $white;
        font-size: 9px;
        line-height: 1.7;
        font-weight: bold;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
    }

    &__image{
        width: 100%;
        height: 60vh;
    }

    &__center{
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translateX(-50%);
    }

}

@media screen and (min-width: 321px){
    .premiere{
        &__text{
            font-size: 9.5px;
        }
    
    }
}

@media screen and (min-width: 376px){
    .premiere{
        
    }
}

@media screen and (min-width: 426px){
    .premiere{
        &__text{
            font-size: 11px;
        }
    
    }
}

@media screen and (min-width: 750px){
    .premiere{
        &__text{
            font-size: 13px;
        }
    
    }
}

@media screen and (min-width: 1020px){
    .premiere{
        &__text{
            font-size: 16px;
        }
    
    }
}