.header{
    padding: 25px 30px;
    box-shadow: 0px 1px 10px 0px $blacktran;
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            &:hover{
                color: $blue;
            }
        }
    }
    &__left{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__left-containt{
        display: none;
        margin-inline-start: auto;
    }
    &__rigth{
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: none;

        .avatar_user{
            width: 40%; 
            justify-content: space-around; 
        }

        img{
            width: 10%;
        }
    }
    &__rechercher{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        margin-left: 20px;
    }
    &__logo{
        display: block;
        &:not(:last-child){
            margin-right: 30px;
        }

        width: 15%;
      //  margin-right: -2vh !important;
    }

    &__img_logo{
        width: 100%; 
    }

    &__liens a{
        &:not(:last-child){
            margin-right: 30px;
        }
        &:hover{
            color: $blue;
        }
    }
    &__bar{
        height: 18px;
        width: 2px;
        background-color: $black;
        margin: 0 8px;
    }
    &__input{
        padding: 0.68rem;
        width: 350px;
        font-size: 16px;
    }
    &__connexion{
        padding-right: 20px;
    }
}

.hamburger__menu{
    justify-content: flex-end;
    > span{
        display: block;
        width: 30px;
        height: 3px;
        background-color: $black;

        &:not(:last-child){
            margin-bottom: 3px;
        }
    }
}

@media screen and (max-width: 425px){
    .header{
        &__categories{
            display: none;
        }
        &__liens{
            display: none;
        }

        &__logo{
            width: 100%;
        }
    }
    .hamburger__menu{ 
        display: block;
    }
}

@media screen and (min-width: 880px){
    .header{
        &__left-containt{
            display: flex;
        }
        &__rigth{
            display: flex;
        }
    }
    .hamburger__menu{
        display: none;
    }
}